@import "tailwindcss";


@keyframes breathingZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.animate-breathingZoom {
  animation: breathingZoom 8s ease-in-out infinite;
}

@keyframes pulseButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulseButton {
  animation: pulseButton 1.5s ease-in-out infinite;
}