@import "tailwindcss";

/* Foto */
@keyframes breathingZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* Botões */
.animate-breathingZoom {
  animation: breathingZoom 8s ease-in-out infinite;
}

@keyframes pulseButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Pulsar */
.animate-pulseButton {
  animation: pulseButton 1.5s ease-in-out infinite;
}

/* Imagens - vidro */
.card-glass {
  position: relative;
  border-radius: 16px;
  /* overflow: hidden; */
  transition: transform 0.3s ease;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  min-height: 200px;
}

.card-glass:hover {
  transform: translateY(-8px);
}

/* Conteúdo do glass */
.glass-content {
  position: relative;
  z-index: 2;
  padding: 1.5rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: all 0.3s ease;
  border-radius: 16px;
}

/* .card-glass:hover .glass-content {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
} */

.card-title {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.card-description {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card-improvements {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}